html{
    zoom:0.8;
    height:100%;
}

body{
    font-family:Raleway;
    background-image: url(../IMG/back.jpg);
}

#srch{
    width:5.4%;
}

#srch .ico{
    width:70%;
}

.f-1{
    font-size: 25px;
}

.new{
    border:2px solid #66FF00;
    background-color: #66FF00;
}

.upcom{
    border:2px solid #7700ff;
    background-color: #7700ff;
}

.overall{
    border:2px solid rgba(255, 0, 0, 0.796);
    background-color: rgba(255, 0, 0, 0.796);
}

.text-upcom{
    color: #7700ff;
}

.text-over{
    color:rgba(255, 0, 0, 0.713)
}

.online{
    border:2px solid blue;
    background-color: blue;
}

.black{
    background-color: #0e1111;
}

.right{
    text-align: right;
}

.roundup{
    border-radius: 2%;
    overflow: hidden;
}

.nopadding {
    padding: 0;
}

.big{
    padding: 15px;
    font-size: 25px;
}

.hov-b{
    color:lightskyblue;
}

.hov-b:hover{
    color:lightseagreen;
}

.hov-r{
    color:lightcoral;
}

.hov-r:hover{
    color:rgb(216, 47, 47);
}

.hov-y{
    color:rgb(255, 193, 77);
}

.hov-y:hover{
    color:orange;
}

.steam{
    background-image: url(../IMG/steam.jpg);
}

.epic{
    background-image: url(../IMG/epic.jpg);
}

.about{
    word-spacing: 10px;
}

input{
    font-size: 30px;
    background-color:#232b2b;
    color:white !important;
    border-color: black;
}

.dropdown-item:hover{
    text-decoration: underline;
}

.invert{
    -webkit-filter: invert(1);
    filter: invert(1);
}

hr{
    border: 1px solid wheat;
}

.w-custom{
    width: 35%;
}